* {
  font-family:'Courier New', Courier, monospace;
  color: #000;
}

.body-div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator-div {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  border: 1px solid #5f5f5f;
  border-radius: 10px;
}

.operate-div {
  padding: 8px;
  flex: 0;
}
.display-div {
  height: auto;
  background-color: #cbcbcb;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 15px;
}

.buttons-div {
  flex: 1 1 auto;
}